workflows/kyBpprvKt0VG65Qi.json
{"createdAt":"2025-07-01T19:38:26.904Z","updatedAt":"2025-08-01T21:05:58.592Z","id":"kyBpprvKt0VG65Qi","name":"ChatBot","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const entry = $('Webhook').first().json.body.entry[0];\nconst change = entry.changes[0].value;\n\nif (!change?.messages?.[0]) {\n  return [];\n}\nif (change.messages[0].type == 'text') {\n  return [{\n    type: change.messages[0].type,\n    text_message: change.messages[0].text.body,\n    sender: change.contacts[0].wa_id,\n    name: change.contacts[0].profile.name,\n    phone_number_id: change.metadata.phone_number_id,\n    access_token:$input.first().json.access_token\n  }];\n}\nif (change.messages[0].type == 'audio' && change.messages[0].audio.voice == true) {\n  return [{\n    type: change.messages[0].type,\n    audio_message: change.messages[0].audio.sha256,\n    sender: change.contacts[0].wa_id,\n    name: change.contacts[0].profile.name,\n    phone_number_id: change.metadata.phone_number_id,\n    media_id: change.messages[0].audio.id,\n    access_token:$input.first().json.access_token\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,272],"id":"55de9c44-fc1c-4225-a806-f188e5864f32","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.message.join(String.fromCharCode(10)) }}","hasOutputParser":true,"options":{"systemMessage":"Letty – Asistente Virtual de Koodi\n\nEres Letty, un asistente virtual especializado en el sistema educativo Koodi (similar a Opigno). \nRecibes preguntas de usuarios vía WhatsApp y debes responder SIEMPRE en español, sin importar el idioma de la pregunta.\n\n🎯 OBJETIVO PRINCIPAL\nAyudar a usuarios a consultar información sobre entrenamientos, cursos, módulos y miembros del sistema Koodi usando GraphQL, así como guiar el proceso de registro y matrícula.\n\n⚙️ REGLAS FUNDAMENTALES\n\n1. **IDIOMA**: Responde SIEMPRE en español\n2. **FORMATO**: Solo texto plano - NO JSON, NO código, NO Markdown\n3. **LISTAS**: Usa viñetas (•) para mostrar listas\n4. **DATOS**: Nunca inventes datos. Si no hay resultados: \"👉 No se encontraron resultados.\"\n5. **VALUES API**: Nunca traduzcas títulos, nombres o descripciones que vienen del API\n6. **FORMATO VISUAL**: Usa **negrita** para nombres de entrenamientos, cursos y módulos, y íconos para diferenciarlos\n7. **FLUJO DE MATRÍCULA**: NUNCA muestres ambos enlaces a la vez. Primero pregunta, luego responde según la respuesta del usuario.\n\n🎨 ÍCONOS Y FORMATO\n\n**ENTRENAMIENTOS**: 🎓 *[Nombre del Entrenamiento]*\n**CURSOS**: 📚 *[Nombre del Curso]*\n**MÓDULOS**: 📖 *[Nombre del Módulo]*\n**ACTIVIDADES**: 📝 [Nombre de la Actividad]\n**MIEMBROS**: 👤 [Nombre del Miembro]\n\n🔧 MANEJO DE GRAPHQL\n\n**QUERY BASE DISPONIBLE:**\nUsa SIEMPRE esta query que obtiene automáticamente todos los entrenamientos publicados:\n\n```graphql\nquery GetPublicTrainings {\n  publicTrainings(limit: 10) {\n    total\n    items {\n      id\n      title\n      description\n      duration\n      visibility\n      published\n      courses {\n        id\n        title\n        description\n        modules {\n          id\n          title\n          description\n          status\n          activities {\n            id\n            title\n            type\n          }\n        }\n      }\n      members {\n        id\n        name\n        email\n      }\n    }\n  }\n}\n```\n\n**MODIFICACIONES PERMITIDAS:**\n✅ Cambiar limit (ej: limit: 1, limit: 5, limit: 20)\n✅ Seleccionar campos específicos según la pregunta\n✅ Usar publicTrainings para obtener entrenamientos publicados automáticamente\n❌ NO crear queries nuevos como courses(limit: X) directamente\n❌ NO cambiar la estructura base del query\n❌ NO usar trainings() - SIEMPRE usar publicTrainings()\n\n🧠 LÓGICA DE CONSULTAS\n\n**ENTRENAMIENTOS (publicTrainings):**\n- SIEMPRE usar: publicTrainings(limit: X)\n- Esta query automáticamente filtra por published: true y visibility: \"semiprivate\"\n- Para entrenamientos específicos: usar limit: 1 o filtrar por posición\n- Campos disponibles: id, title, description, duration, visibility, published\n\n**CURSOS (courses):**\n- Siempre están vinculados a un entrenamiento específico\n- Acceder vía: publicTrainings → items → courses\n- Si usuario no especifica entrenamiento, preguntar: \"¿De qué entrenamiento deseas ver los cursos?\"\n\n**MÓDULOS (modules):**\n- Pueden estar en courses → modules O directamente en publicTrainings → modules\n- Si usuario no especifica contexto, mostrar ambos\n- Campos: id, title, description, status\n\n**MIEMBROS (members):**\n- Siempre vinculados a entrenamientos específicos\n- Acceder vía: publicTrainings → items → members\n- Campos: id, name, email\n\n**ACTIVIDADES (activities):**\n- Siempre dentro de módulos\n- Acceder vía: modules → activities\n- Campos: id, title, type\n\n🎯 PATRONES DE RESPUESTA\n\n**PREGUNTA GENERAL:** \"¿Qué entrenamientos hay?\"\n- Usar: publicTrainings(limit: 10)\n- Mostrar: título, duración, descripción\n\n**PREGUNTA ESPECÍFICA:** \"Cursos del primer entrenamiento\"\n- Usar: publicTrainings(limit: 1) y extraer courses\n- Mostrar lista de cursos con títulos\n\n**PREGUNTA POR CANTIDAD:** \"Muéstrame 5 entrenamientos\"\n- Usar: publicTrainings(limit: 5)\n- Mostrar entrenamientos disponibles\n\n**MÓDULOS DE UN CURSO:** \"¿Qué módulos tiene el curso X?\"\n- Usar: publicTrainings(limit: 10)\n- Buscar el entrenamiento que contiene el curso\n- Extraer modules del curso específico\n- Mostrar títulos de módulos\n\n**REGISTRO EN LA PLATAFORMA:** \"¿Cómo me registro?\"\n- Responder: \"Para registrarte en la plataforma Koodi, visita: https://education.koodi.fun/\"\n- Explicar brevemente el proceso de registro\n\n**MATRÍCULA EN ENTRENAMIENTOS:** \"¿Cómo me inscribo?\" o \"Quiero matricularme\"\n- SOLO preguntar: \"¿Ya tienes una cuenta registrada en la plataforma Koodi?\"\n- NO mostrar enlaces hasta recibir respuesta del usuario\n- Esperar respuesta \"sí\" o \"no\" del usuario\n\n**SIN RESULTADOS:**\n\"👉 No se encontraron resultados.\"\n\n**ERROR DE QUERY:**\n\"👉 Hubo un problema al consultar la información. Intenta de nuevo.\"\n\n🔍 INTERPRETACIÓN DE USUARIO\n\n**MAPEO DE TÉRMINOS:**\n- \"entrenamientos\" → publicTrainings()\n- \"cursos\" → courses  \n- \"módulos\" → modules\n- \"miembros\" → members\n- \"actividades\" → activities\n- \"el primero\" → items[0]\n- \"todos\" → limit alto (ej: limit: 50)\n- \"algunos\" → limit medio (ej: limit: 5)\n- \"registro\", \"registrarme\", \"crear cuenta\" → proceso de registro\n- \"inscribir\", \"matricular\", \"inscripción\", \"matrícula\" → proceso de matrícula\n\n**CONTEXTO IMPLÍCITO:**\n- Si preguntan por cursos sin especificar entrenamiento → preguntar cuál\n- Si dicen \"el primero\" → usar el primer item del resultado\n- Si mencionan un título → buscar por coincidencia\n\n📝 FORMATO DE RESPUESTA\n\n**PARA LISTAS DE ENTRENAMIENTOS:**\n🎓 *[título del entrenamiento]*\n   Duración: [duration]\n   Descripción: [description]\n\n🎓 *[título del entrenamiento]*\n   Duración: [duration]\n   Descripción: [description]\n\n**PARA LISTAS DE CURSOS:**\n📚 *[título del curso]*\n   Descripción: [description]\n\n📚 **[título del curso]**\n   Descripción: [description]\n\n**PARA LISTAS DE MÓDULOS:**\n📖 *[título del módulo]*\n   Estado: [status]\n   Descripción: [description]\n\n**PARA DETALLES DE ENTRENAMIENTO:**\nEl entrenamiento 🎓 *[título]* tiene:\n• Duración: [duration]\n• Descripción: [description]\n• Cursos disponibles: [courses.length]\n• Módulos: [modules.length]\n\n**PARA MÓDULOS DE UN CURSO:**\nLos módulos del curso 📚 *[título del curso]* son:\n📖 *[título del módulo 1]*\n📖 *[título del módulo 2]*\n📖 *[título del módulo 3]*\n\n**PARA ACTIVIDADES DE UN MÓDULO:**\nLas actividades del módulo 📖 *[título del módulo]* son:\n📝 [título de actividad 1]\n📝 [título de actividad 2]\n📝 [título de actividad 3]\n\n**PARA MIEMBROS:**\nLos miembros del entrenamiento 🎓 *[título del entrenamiento]* son:\n👤 [nombre del miembro 1]\n👤 [nombre del miembro 2]\n\n**PARA REGISTRO (solo cuando pregunten específicamente):**\nPara registrarte en la plataforma Koodi, visita: https://education.koodi.fun/\n\nAllí podrás:\n• Crear una nueva cuenta con tus datos personales\n• Ingresar tu nombre, apellido y correo electrónico\n• Elegir un nombre de usuario\n• Configurar tu perfil\n\nUna vez registrado, podrás acceder a todos los entrenamientos disponibles.\n\n**PARA MATRÍCULA (FLUJO EN DOS PASOS):**\n\n**PASO 1 - Pregunta inicial:**\n¿Ya tienes una cuenta registrada en la plataforma Koodi?\n\n**PASO 2A - Si usuario responde \"SÍ\":**\nPerfecto! Te envío el enlace de pago para matricularte en el entrenamiento 🎓 *[nombre del entrenamiento]*:\nhttps://payp.page.link/pNSKV\n\n**PASO 2B - Si usuario responde \"NO\":**\nPrimero necesitas registrarte en la plataforma. Visita: https://education.koodi.fun/ para crear tu cuenta y luego podrás matricularte en los entrenamientos.\n\n🚫 RESTRICCIONES\n\n- NO crear queries desde cero\n- NO usar endpoints separados como course(id: X)\n- NO traducir nombres/títulos del API\n- NO responder en otros idiomas\n- NO usar formato JSON o código en respuestas\n- NO inventar información no proporcionada por el API\n- NO usar trainings() - SIEMPRE usar publicTrainings()\n- SIEMPRE usar íconos y **negrita** para nombres de entrenamientos, cursos y módulos\n- NO mostrar ambos enlaces de registro y pago a la vez\n- SIEMPRE esperar respuesta del usuario antes de proporcionar enlaces específicos\n\n✅ EJEMPLOS DE USO CORRECTOS\n\nUsuario: \"¿Qué entrenamientos hay?\"\nQuery: publicTrainings(limit: 10)\nRespuesta: \n🎓 *Python Start 1*\n   * Duración: aun no se especifica\n   * Descripción: Introducción a la programación en Python utilizando problemas del mundo real. Los estudiantes desarrollan lógica computacional, estructuras básicas de programación y pensamiento algorítmico mediante ejercicios interactivos.\n\n🎓 **Programación creativa con Scratch**\n   * Duración: 11\n   * Descripción: Este training introduce a los estudiantes en el mundo de la programación visual utilizando Scratch.\n\nUsuario: \"Cursos del primer entrenamiento\"\nQuery: publicTrainings(limit: 1) + extraer courses\nRespuesta: \nLos cursos del entrenamiento 🎓 *Python Start 1* son:\n📚 *Proyecto final*\n\nUsuario: \"¿Qué módulos tiene el curso 'Proyecto final'?\"\nQuery: publicTrainings(limit: 10)\nRespuesta: \nLos módulos del curso 📚 *Proyecto final* son:\n📖 *Módulo de introducción*\n📖 *Conceptos básicos*\n📖 *Ejercicios prácticos*\n\nUsuario: \"¿Cómo me registro en Koodi?\"\nQuery: NO se necesita GraphQL\nRespuesta: Para registrarte en la plataforma Koodi, visita: https://education.koodi.fun/\n\nUsuario: \"Quiero inscribirme en Python Start 1\"\nQuery: NO se necesita GraphQL inicialmente\nRespuesta: ¿Ya tienes una cuenta registrada en la plataforma Koodi?\n\n[Esperar respuesta del usuario]\n\nSi usuario responde \"sí\":\nPerfecto! Te envío el enlace de pago para matricularte en el entrenamiento 🎓 *Python Start 1*:\nhttps://payp.page.link/pNSKV (usar el node tool del agente para crear el link de pago)\n\nSi usuario responde \"no\":\nPrimero necesitas registrarte en la plataforma. Visita: https://education.koodi.fun/ para crear tu cuenta y luego podrás matricularte en los entrenamientos.\n\n🔒 AUTOMATIZACIÓN DE FILTROS\nLa query publicTrainings() automáticamente incluye:\n- Entrenamientos publicados (published: true)\n- Con visibilidad semiprivada (visibility: \"semiprivate\")\n\nEsto garantiza que solo se muestren entrenamientos activos y disponibles para los usuarios sin necesidad de filtros manuales.\n\n🎯 FLUJO DE MATRÍCULA MEJORADO\n\n**REGLA CRÍTICA**: NUNCA mostrar ambos enlaces (registro y pago) en la misma respuesta.\n\n**PASO 1:** Usuario expresa interés en matricularse\n**PASO 2:** Preguntar ÚNICAMENTE: \"¿Ya tienes una cuenta registrada en la plataforma Koodi?\"\n**PASO 3:** ESPERAR respuesta del usuario\n**PASO 4A:** Si respuesta es \"SÍ\" → Enviar SOLO enlace de pago\n**PASO 4B:** Si respuesta es \"NO\" → Enviar SOLO enlace de registro\n\n📧 PROCESO DE REGISTRO\nSegún la información de https://education.koodi.fun/, el registro requiere:\n• Nombre (First name)\n• Apellido (Last name)\n• Dirección de correo electrónico\n• Nombre de usuario\n• Configuración de privacidad del perfil (opcional)\n\n🔍 VALIDACIÓN DE DATOS\n- Solo mostrar entrenamientos que realmente están en la respuesta de publicTrainings()\n- No asumir existencia de entrenamientos que no aparecen en el resultado\n- Verificar que los datos existen antes de mostrarlos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3072,80],"id":"f08b3b66-f565-477d-86a5-354154d805a7","name":"AI Agent"},{"parameters":{"operation":"send","phoneNumberId":"675567022310377","recipientPhoneNumber":"={{ $item(0).$node[\"Code\"].json.sender }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3792,80],"id":"fd8cc250-cf75-4620-8747-815eeb3fc87f","name":"Send message","webhookId":"7fc593df-cbf6-423d-92c2-bce242f8d34c","credentials":{"whatsAppApi":{"id":"KBjZybtpzo42oh29","name":"WhatsApp account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json[\"type\"]}}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"a4342019-dbb0-4852-9398-7804df0c0436"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f201f540-f545-41cd-bfc4-6f42ef451fef","leftValue":"={{$json[\"type\"]}}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio message"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[864,272],"id":"a749e767-7d4a-48be-8bf8-57a092d94d60","name":"Switch"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.media_id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-48,688],"id":"64a848f9-ee0c-4784-9f86-c2a907922c06","name":"Download media","webhookId":"28c252e1-3fe6-48a5-b33c-8dd376e523d1","credentials":{"whatsAppApi":{"id":"KBjZybtpzo42oh29","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,688],"id":"4fb1feff-da5b-4b22-a09e-7207b2ad0b94","name":"HTTP Request","alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"KBjZybtpzo42oh29","name":"WhatsApp account"}}},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/speech-to-text","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model_id","value":"scribe_v1"},{"name":"language","value":"es"}]},"options":{}},"id":"f2ac58ad-3bea-4d1a-93f5-98415ea216ad","name":"Create Transcript1","type":"n8n-nodes-base.httpRequest","position":[400,688],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"6Ufuc5zoB6OOlBgn","name":"Bearer Auth account"},"httpCustomAuth":{"id":"n3WiVvVirMxIa0qw","name":"Custom Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4b40aae4-2cd1-431e-b052-b0fea108135e","name":"text_message","value":"={{ $json.text_message }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,256],"id":"212027b0-80cc-4ef3-bfc0-7128b2cdd667","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a12cdbef-b1f2-4c20-aaed-85f1daa33130","name":"text_message","value":"={{ $json.text }}","type":"string"},{"id":"130f3ef1-1238-4072-b705-452e1076e511","name":"sender","value":"={{ $('Code').item.json.sender }}","type":"number"},{"id":"84227032-f7d2-4399-bed5-ede03c643577","name":"phone_number_id","value":"={{ $('Code').item.json.phone_number_id }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,688],"id":"03e72511-1a6c-4941-9285-81f101cab699","name":"Edit Fields1"},{"parameters":{"content":"## Audio processing section \n* Get audio URL.\n* Download audio.\n* Transcript audio to text.\n* Set text to user_message variable.","width":800},"type":"n8n-nodes-base.stickyNote","position":[-80,880],"typeVersion":1,"id":"c7efbe40-d7ab-444e-a9e6-01f5d65d5087","name":"Sticky Note"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code').item.json.sender }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3136,336],"id":"de06b763-e6e9-427d-86e4-6607d5a2fdba","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"ChPQx32xqhsyEMbL","name":"Postgres account 2"}}},{"parameters":{"httpMethod":"POST","path":"whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,256],"id":"5efc51e8-8168-46ff-a269-c3827a79c651","name":"Webhook","webhookId":"52dc5993-ce5a-4055-8d1b-be6a7266403b"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2976,336],"id":"9c32c254-9f03-4249-8816-cc5f7b14b704","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"PLP89m0EmQvFM5gt","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://education.koodi.fun/user/login?_format=json","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"chatbot2"},{"name":"pass","value":"Zxcvbnm2025"}]},"options":{}},"id":"5d976df6-777a-4d68-b02c-384f3586c4e4","name":"Get new token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,144]},{"parameters":{"jsCode":"const workflowStaticData = $getWorkflowStaticData('global');\n\n// inititate the accessToken if it desn't exist yet\nif (!workflowStaticData.hasOwnProperty('accessToken')) {\n  workflowStaticData.accessToken = 0\n}\n\n// inititate the timestamp if it desn't exist yet\nif (!workflowStaticData.hasOwnProperty('timestamp')) {\n  workflowStaticData.timestamp = $now.toISO()\n}\n\nreturn [\n  {\n      // data: $input.all(),\n      accessToken: workflowStaticData.accessToken,\n      timestamp: workflowStaticData.timestamp,\n      // today: $today\n  }\n];\n\n"},"id":"5ab5458c-ddee-420d-8326-8a4d44d870e8","name":"initiate access token","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"34d6eae5-3de8-4ccc-821b-d03932bf44b4","leftValue":"={{ $json.timestamp }}","rightValue":"={{ $now.minus(1,'minute') }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{}},"id":"bd8b9da0-cc7d-4119-a3c1-4f581edbe5bb","name":"if access token expired","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-96,256]},{"parameters":{"jsCode":"const workflowStaticData = $getWorkflowStaticData('global');\n\n// get new access token\nworkflowStaticData.accessToken = $input.first().json.access_token;\n// set timestamp of new access token\nworkflowStaticData.timestamp = $now.toISO();\n\nreturn [\n  {\n      accessToken: workflowStaticData.accessToken,\n      timestamp: workflowStaticData.timestamp,\n  }\n];"},"id":"38056f4f-77ea-45aa-bfaa-843a8f2039b9","name":"set the new token","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,144]},{"parameters":{"content":"# Koodi access token management\n\n\nThis workflow section demonstrates how to use the [`workflowStaticData()` function](https://docs.n8n.io/code/cookbook/builtin/get-workflow-static-data/\n) to set any type of variable that will persist within workflow executions. \n\nThis can be useful for working with access tokens that expire after a certain time period. \n\nThis logic is responsible for retrieving the Koodi access token and determining whether it is still valid or requires renewal, based on a one-hour expiration window.\n## Important\n\n**Static Data** only persists across **_production_** executions, i.e. triggered by Webhooks or Schedule Triggers (not manual executions!)\nFor this the workflow will have to be activated. \n\n\n\n","height":656,"width":772},"id":"7c573980-3f41-4e15-830d-1a16f1dcb6f1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-320,-192],"typeVersion":1},{"parameters":{"amount":10},"id":"d59acdd0-6846-46b4-8206-00dbe7585198","name":"Wait 10 Seconds","type":"n8n-nodes-base.wait","position":[1664,448],"webhookId":"87994c9a-fd20-48b6-8dbe-9af36dc40b2f","typeVersion":1.1},{"parameters":{"content":"## Buffer Incoming Messages","height":440,"width":1400,"color":7},"id":"53eed617-04c9-4bc0-afd9-6d837385bd18","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1344,272],"typeVersion":1},{"parameters":{"tableId":"message_queue","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $json.sender }}"},{"fieldId":"message","fieldValue":"={{ $json.text_message }}"},{"fieldId":"message_id","fieldValue":"={{ $json.phone_number_id }}"}]}},"id":"f2721a06-fee1-411f-a66b-eb31250fea8b","name":"Add to Queued Messages","type":"n8n-nodes-base.supabase","position":[1424,352],"typeVersion":1,"credentials":{"supabaseApi":{"id":"DZuAVbGb532rGeWw","name":"Supabase account"}}},{"parameters":{},"id":"92e32c03-cacb-48dc-a6ff-6aaeea26a4c1","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[2320,576],"typeVersion":1},{"parameters":{"operation":"delete","tableId":"message_queue","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"}]}},"id":"96ee477b-a576-49f4-a1aa-abdeac3e3255","name":"Delete Queued Messages","type":"n8n-nodes-base.supabase","position":[2560,336],"typeVersion":1,"credentials":{"supabaseApi":{"id":"DZuAVbGb532rGeWw","name":"Supabase account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"message_id"}]},"options":{}},"id":"a4681dc4-485e-431b-9b4e-5cc6587b7481","name":"Sort by Message ID","type":"n8n-nodes-base.sort","position":[2080,352],"typeVersion":1},{"parameters":{"operation":"getAll","tableId":"message_queue","returnAll":true,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Code').item.json.sender }}"}]}},"id":"065b4b56-12d3-4348-9cab-5ecca433bf03","name":"Get Queued Messages","type":"n8n-nodes-base.supabase","position":[1888,352],"typeVersion":1,"credentials":{"supabaseApi":{"id":"DZuAVbGb532rGeWw","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"8852bab7-230e-442a-a4a2-994e979c8f9f","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $input.last().json.message_id }}\n","rightValue":"={{ $('Code').item.json.phone_number_id }}"}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"d6870987-3136-4b8f-b79e-62cb17bff702","name":"Check Most Recent Message","type":"n8n-nodes-base.if","position":[2304,352],"typeVersion":2.2},{"parameters":{"content":"### Modification\nChange the value of *Wait Amount* to vary the buffering window","height":280,"width":220,"color":5},"id":"acba836d-9f56-495e-b2a7-125269e6444a","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1600,336],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message"}]},"options":{}},"id":"80786bf8-36db-4319-9e16-7f4248872161","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[2816,96],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"a15303bd-b786-4ac3-9e16-9a906ef8aa79","name":"access_token","value":"={{ $json.accessToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,144],"id":"7456b192-4603-4c3c-80f9-6ab528f2188c","name":"New access token"},{"parameters":{"assignments":{"assignments":[{"id":"a15303bd-b786-4ac3-9e16-9a906ef8aa79","name":"access_token","value":"={{ $json.accessToken }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,272],"id":"938063df-6cfe-473b-bf73-60e90d34b212","name":"Access token"},{"parameters":{"method":"POST","url":"https://pay.payphonetodoesposible.com/api/Links","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"Authorization","value":"Bearer CIwrLTu8Gdkl63ZIUijtwgHnWKRm2CF4Pvj7SZclXQ-wo4LfppMlzymK2bvWFdRnO2HcJsF7LBFLdVRL5jdxs-s2LD1PDizC_n0nswnYhkL6lWizVigHH2M4QfZ0NpBWJCn_8rL9Bko9mscDkPSzfNMXi75knrG7dn_o-kVy4clMRuLB7GuAExVaGSwlCNfxRRM1z6eMZFuJsy8XZk1x8lLzPFzYeK8zYWciAFH6wEzCi5vK77wJKl_h3XNaCQEUJbWhrpeY_vO54EtfodKdEZ9WUeh-Q-UzMRPdPgQ2o4OC0K6Zl0jqVFhaBSmy9qTIGhBclTzdugD2wm1S1ADGwrDBCwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"amount\": 315,  \n  \"amountWithoutTax\": 200,   \n  \"amountWithTax\": 100,  \n  \"tax\": 15, \n  \"service\": 0, \n  \"tip\": 0, \n  \"currency\": \"USD\", \n  \"reference\": \"Payment by API Link\",    \n  \"clientTransactionId\": \"Chatbot-001\",\n  \"storeId\": \"9cbfff9a-2ee6-44a8-a481-e2f9ccd848a3\",  \n  \"additionalData\": \"Extra Description\", \n  \"oneTime\": true,  \n  \"expireIn\": 0,    \n  \"isAmountEditable\": false\n}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2832,768],"id":"d5428f09-679e-47c3-aa50-84f827348751","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.abitmedia.cloud/pagomedios/v2/payment-links","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-type","value":"application/json"},{"name":"Authorization","value":"Bearer 3wv1x3b0eyc5zj8vxnqaiqaeiutgi7pphk4p0nbtrekg-gcpdrzsnlxihqhxgb7vszqlo"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"integration\": true,\n  \"generate_invoice\": 0,\n  \"description\": \"Link de prueba\",\n  \"amount\": 1.08,\n  \"amount_with_tax\": 0.5,\n  \"amount_without_tax\": 0.5,\n  \"tax_value\": 0.08,\n  \"settings\": [],\n  \"notify_url\": null,\n  \"custom_value\": null,\n  \"has_cards\": 1,\n  \"has_de_una\": 2,\n  \"has_paypal\": 0,\n  \"has_safetypay\": false,\n  \"platform_settings\": [\n    {\n      \"platform\": \"safetypay\",\n      \"settings\": [\n        {\n          \"country_code\": \"ECU\",\n          \"channel_type\": 1,\n          \"include_all_banks\": true\n        },\n        {\n          \"country_code\": \"ECU\",\n          \"channel_type\": 2,\n          \"include_all_banks\": true\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3296,672],"id":"dfdc39f8-75a2-475c-8db2-28aa8453753e","name":"Pagosmedio-payment"},{"parameters":{"toolDescription":"Generate payment link using payphone services.","method":"POST","url":"https://pay.payphonetodoesposible.com/api/Links","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"Authorization","value":"Bearer CIwrLTu8Gdkl63ZIUijtwgHnWKRm2CF4Pvj7SZclXQ-wo4LfppMlzymK2bvWFdRnO2HcJsF7LBFLdVRL5jdxs-s2LD1PDizC_n0nswnYhkL6lWizVigHH2M4QfZ0NpBWJCn_8rL9Bko9mscDkPSzfNMXi75knrG7dn_o-kVy4clMRuLB7GuAExVaGSwlCNfxRRM1z6eMZFuJsy8XZk1x8lLzPFzYeK8zYWciAFH6wEzCi5vK77wJKl_h3XNaCQEUJbWhrpeY_vO54EtfodKdEZ9WUeh-Q-UzMRPdPgQ2o4OC0K6Zl0jqVFhaBSmy9qTIGhBclTzdugD2wm1S1ADGwrDBCwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"amount\": 315,  \n  \"amountWithoutTax\": 200,   \n  \"amountWithTax\": 100,  \n  \"tax\": 15, \n  \"service\": 0, \n  \"tip\": 0, \n  \"currency\": \"USD\", \n  \"reference\": \"Payment by API Link\",    \n  \"clientTransactionId\": \"Chatbot-001\",\n  \"storeId\": \"9cbfff9a-2ee6-44a8-a481-e2f9ccd848a3\",  \n  \"additionalData\": \"Extra Description\", \n  \"oneTime\": true,  \n  \"expireIn\": 0,    \n  \"isAmountEditable\": false\n}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3296,448],"id":"78a2a5e8-c88e-4207-ae42-53f1c3e3215c","name":"payphone-payment","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3456,672],"id":"4b850e57-6cb6-41e5-a6b2-86fcb8fb4037","name":"Think"},{"parameters":{"endpoint":"https://education.koodi.fun/graphql","allowUnauthorizedCerts":true,"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `This is the base query of the system:\nquery GetPublicTrainings {\n  publicTrainings(limit: 50) {\n    total\n    items {\n      id\n      title\n      description\n      duration\n      visibility\n      published\n      courses {\n        id\n        title\n        description\n        modules {\n          id\n          title\n          description\n          status\n          activities {\n            id\n            title\n            type\n          }\n        }\n      }\n      members {\n        id\n        name\n        email\n      }\n    }\n  }\n}`, 'string') }}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Content-type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Code').item.json.access_token }}"}]}},"type":"n8n-nodes-base.graphqlTool","typeVersion":1.1,"position":[3424,400],"id":"4fb6c2db-2f21-463a-86e6-f40e5c8ed733","name":"GraphQL1"}],"connections":{"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Download media","type":"main","index":0}]]},"Download media":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Create Transcript1","type":"main","index":0}]]},"Create Transcript1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add to Queued Messages","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Add to Queued Messages","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"initiate access token","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get new token":{"main":[[{"node":"set the new token","type":"main","index":0}]]},"initiate access token":{"main":[[{"node":"if access token expired","type":"main","index":0}]]},"if access token expired":{"main":[[{"node":"Get new token","type":"main","index":0}],[{"node":"Access token","type":"main","index":0}]]},"set the new token":{"main":[[{"node":"New access token","type":"main","index":0}]]},"Wait 10 Seconds":{"main":[[{"node":"Get Queued Messages","type":"main","index":0}]]},"Add to Queued Messages":{"main":[[{"node":"Wait 10 Seconds","type":"main","index":0}]]},"Sort by Message ID":{"main":[[{"node":"Check Most Recent Message","type":"main","index":0}]]},"Get Queued Messages":{"main":[[{"node":"Sort by Message ID","type":"main","index":0}]]},"Check Most Recent Message":{"main":[[{"node":"Delete Queued Messages","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Delete Queued Messages":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"New access token":{"main":[[{"node":"Code","type":"main","index":0}]]},"Access token":{"main":[[{"node":"Code","type":"main","index":0}]]},"payphone-payment":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GraphQL1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","timezone":"America/Guayaquil"},"staticData":{"global":{"accessToken":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE3NTQwODI4MjUsImV4cCI6MTc1NDA4NjQyNSwiZHJ1cGFsIjp7InVpZCI6IjE1In19.FGd4vZhaaPyABeSH1T2WdAi1xrEcEDs4C2xqMn_sq7Gt4xvsbTyoRiTW6kSh1ijaSBJI92uSzoub_WRFHOK1Gzua97f7G5-IhqngPAwML4d7ztFD-16jTHCf__5PCypr87Z_Ouuq-PgxKe139s7CVGaDSxQ1bQd7UaIjkpmc61yjVTV-XTe1si8NZZ1oG030I_SaNtyPJdjzpHkQYL0ADa-LL7D2tt7g0znNkwK8gsYe3vO-G-M1P6wclxtOkEtJJ2APIblKijkJRw_UBhakxjuGpelEVQG802_xLWNtwmZJD54yUD7QeFZvqk8nwsJz9D86uPMPXOhuZyyruNT1MA","timestamp":"2025-08-01T16:13:45.317-05:00"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"854c6e5e-3457-4dba-b178-42a05d5a3146","triggerCount":1,"tags":[]}